html {
	background-color: $app-bg-color;
}

.app {
	min-width: $app-min-width;
	text-align: center;
	font-family: $font-family;
	color: $text-color;
}

.app-header {
	background-color: $header-bg-color;
	padding: 1px;
	color: $header-text-color;
	position: relative;
}

.app-header-help-icon {
	padding: 3px;
	font-size: 2em;
	margin: 0.67em;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}