.game.game-paused .board {
	background-color: $board-paused-bg-color;
}

.board {
	border: $board-border;
	display: table;
	margin: 2em auto;
	padding: 1px;

	&.board-lost {
		border-color: $lose-color;
		animation: border-flash 0.25s linear 0s 3;
	}

	&.board-won {
		border-color: $win-color;
	}

	.board-row {
		display: table-row;
	}

	.board-header {
		display: table-caption;
		position: relative;
		height: 3.5em;
		margin-bottom: 5px;
	}

	.board-header-item {
		position: absolute;
		bottom: 0;
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		border: 1px solid $board-header-border-color;
		font-size: 2em;
		box-sizing: border-box;

		&.mines-remaining {
			left: 0;
			color: $counter-text-color;
			background: linear-gradient(to bottom, $lose-color, $lose-color-darker);
			padding-left: 1em;
			justify-content: flex-start;

			&.success {
				background: linear-gradient(to bottom, $win-color, $win-color-darker);
			}
		}

		&.time-elapsed {
			right: 0;
			color: #777;
			background: linear-gradient(to bottom, $timer-color, $timer-color-darker);
			padding-right: 1em;
			justify-content: flex-end;
		}

		.board-header-item-icon {
			margin-right: 0.5em;
			font-weight: bold;
		}

	}

}