.game.game-paused {
	.board {
		.cell {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.cell {
	min-width: $cell-size;
	min-height: $cell-size;
	width: $cell-size;
	height: $cell-size;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle;
	border: $cell-border;
	text-align: center;

	&.cell-focused {
		border: $cell-border-focused;
	}

	&.cell-state-uncleared,
	&.cell-state-reveal-mine-unfound {
		background: $cell-bg-uncleared;
	}

	&.cell-state-cleared {
		cursor: default;
	}

	&.cell-state-flagged {
		background: url(../images/flag.gif) 50% 50% / 50% no-repeat, $cell-bg-uncleared;
	}

	&.cell-state-hit-mine {
		background-color: $cell-hit-bg-color;
		color: $cell-hit-text-color;

		.mine {
			animation: pulse 1s linear 0s infinite;
			display: block;
		}
	}

	&.cell-state-reveal-mine-found {
		background-color: $cell-found-mine-bg-color;
	}

	&.cell-state-reveal-mine-wrong {
		background: $cell-invalid-flag-bg-color;
		color: $cell-invalid-flag-text-color;

		i {
			font-size: $mine-font-size;
			line-height: $cell-size;
			font-weight: bold;
		}
	}

	&.cell-state-hit-mine,
	&.cell-state-reveal-mine-found,
	&.cell-state-reveal-mine-unfound {
		font-weight: bold;
	}

	&.cell-state-0 {
		opacity: 0.8;
	}

	&.cell-state-0,
	&.cell-state-1,
	&.cell-state-2,
	&.cell-state-3,
	&.cell-state-4,
	&.cell-state-5,
	&.cell-state-6,
	&.cell-state-7,
	&.cell-state-8 {
		background-color: $cell-cleared-bg-color;
		font-size: $cell-count-font-size;
		font-weight: 600;
	}

	&.cell-state-1 { color: $cell-count-1-color; }
	&.cell-state-2 { color: $cell-count-2-color; }
	&.cell-state-3 { color: $cell-count-3-color; }
	&.cell-state-4 { color: $cell-count-4-color; }
	&.cell-state-5 { color: $cell-count-5-color; }
	&.cell-state-6 { color: $cell-count-6-color; }
	&.cell-state-7 { color: $cell-count-7-color; }
	&.cell-state-8 { color: $cell-count-8-color; }

	.mine {
		font-size: $mine-font-size;
		line-height: $cell-size;
		width: $cell-size;
		height: $cell-size;
	}

}
