.control-row {
	margin: 1em 0;

	.control {
		padding: 0 1em;
		display: inline-block;

		input {
			padding: 10px;
			border: $control-border;
			outline: none;
			width: 3em;

			&:invalid {
				border: 1px solid $input-invalid-border-color;
			}
		}

		label {
			margin-right: 0.5em;
			color: $control-label-color;
		}
	}
}

button {
	border: $control-border;
	cursor: pointer;
	background: linear-gradient(to bottom, $button-bg-color-1, $button-bg-color-2);
	padding: 12px;
	font-size: 0.9em;
	outline: none;
	font-family: inherit;

	&:disabled {
		opacity: 0.66;
		cursor: default;
	}

	&:not(:disabled):hover, &:not(:disabled):active {
		background: #f7f7f7;
		background: linear-gradient(to bottom, $button-bg-color-1, $button-bg-color-3);
	}
}