.help-modal {
	position: absolute;
	padding: 1em 2em 2em 2em;
	top: 100px;
	left: 0;
	right: 0;
	width: $help-width;
	margin: 0 auto 2em auto;
	background: $help-bg-color;
	border: 1px solid $help-border-color;
	box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 6px 2px;

	table {
		margin: 1em auto;
		border-collapse: collapse;
		min-width: 350px;

		td {
			padding: 3px 12px;
			border: 1px solid $help-table-border-color;
			font-size: 0.9em;
			text-align: left;

			&:first-child {
				font-weight: bold;
			}
		}
	}

	.help-modal-close-icon {
		position: absolute;
		right: 1.5rem;
		top: 1rem;
		font-size: 2rem;
		color: $help-close-icon-color;
		cursor: pointer;
	}

}